@charset "UTF-8"; 
/**********************************************************************
WebStyleGuide Common Group Style Sheet
**********************************************************************/

/**********************************************************************
# reset
**********************************************************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
body	{ font-family:Arial,Helvetica,sans-serif; font-size:12px; color:#666; line-height:1.4em; letter-spacing:0; }
td, th, textarea	{ font-size:12px; }
select	{ font-family:Arial,dotum,Helvetica,sans-serif; }
ul, ol				{ list-style:none; }
h1, h2, h3, h4, h5, h6	{ font-size:12px; font-weight:normal; }
img			{ border:0; vertical-align:middle; }
a				{ color:#666; text-decoration: none; }
a:hover		{ color:black; }
.clear:after	{ content:" "; display:block; clear:both; height:0; visibility:hidden; }
*+ html .clear,* html .clear { display:inline-block; }


/**********************************************************************
# web accessibillity
**********************************************************************/
/*a.url				{ padding-right:10px; background:url("../images/icon/blank.gif") no-repeat 100% 0; }*/
.skip, .desc	{ position:absolute; width:0; height:0; margin:0 !important; padding:0 !important; font-size:0; line-height:0; text-indent:-3000px; border:none; overflow:hidden; }
.hide, hr	{ display:none; }


/**********************************************************************
# form
**********************************************************************/
form	{ display:inline; }
fieldset		{ border:none; }


/**********************************************************************
# paragraph
**********************************************************************/
.tac	{ text-align:center; }
.tar	{ text-align:right; }
.tal	{ text-align:left; }


/**********************************************************************
# float
**********************************************************************/
.fr	{ float:right; }
.fl	{ float:left; }
.fn	{ float:none; }