@charset "UTF-8"; 
/**********************************************************************
Style Sheet
**********************************************************************/
@import url("common_group.css");
@import url("common_form.css");



/**********************************************************************
@ admin
**********************************************************************/
body	{ text-align:center; }
.sa	{ position:relative; width:1183px; padding:0 10px; margin:0 auto; text-align:left; }

#header	{ width:100%; float:left; }
#header h1	{ position:absolute; left:30px; top:20px; }

#header .spot	{width:300px; height:20px; padding-right:15px; background:url("../images/admin/header/spot_right.gif") no-repeat 100% 0; float:right; clear:both; overflow:hidden; }
#header .spot ul	{ height:20px; padding-left:15px; background:url("../images/admin/header/spot_left.gif") no-repeat 0 0 #333; float:right; }
#header .spot ul li	{ float:left; }
#header .spot ul li a	{ padding-right:15px; color:#ccc; font-size:10px; background:url("../images/admin/header/spot_line.gif") no-repeat 100% 48% #333; display:block; }
#header .spot ul li a:hover	{ color:white; }
#header .spot ul li.last a	{ padding-left:15px; padding-right:0; background:none; }

#header .member	{ margin-top:10px; float:right; clear:both; }
#header .member dl	{ /*width:335px;*/ float:left; white-space:nowrap; }
#header .member dl dt, #header .member dl dd	{ display:inline; }
#header .member dl dt	{ height:22px; padding:0 5px 0 13px; color:#999; line-height:22px; background:url("../images/admin/header/member_dt.gif") no-repeat 100% 60%; }
#header .member dl dd	{ height:22px; padding:0 13px 0 5px; line-height:22px; background:url("../images/admin/header/member_line.gif") no-repeat 100% 48%; color:#990000; }
#header .member dl dd.last	{ padding:0 0 0 5px; background:none; }
#header .member .btn	{ margin-left:15px; }

#nav	{ margin-top:15px; float:right; clear:both; }
#nav ul	{ width:970px; background:url("../images/admin/nav/bg.gif") repeat-x 0 100%; float:left; }
#nav li	{ height:32px; padding-left:10px; line-height:32px; background:url("../images/admin/nav/off_left.gif") no-repeat 0 0; float:left; }
#nav li a	{ padding-right:10px; font-weight:bold; background:url("../images/admin/nav/off_right.gif") no-repeat 100% 0; display:block; }
#nav li.on	{ background-image:url("../images/admin/nav/on_left.gif"); }
#nav li.on a	{ color:white; background-image:url("../images/admin/nav/on_right.gif"); }

#aside	{ width:193px; margin-right:20px; background:url("../images/admin/aside/bg.gif") repeat-y 0 0; float:left; display:inline; }
#aside h2	{ height:30px; line-height:30px; font-weight:bold; color:white; text-align:center; letter-spacing:1px; background:url("../images/admin/aside/bg_top.gif") no-repeat 0 0; }
#aside ul	{ padding:10px 0 20px 11px; background:url("../images/admin/aside/bg_bottom.gif") no-repeat 0 100%; }
#aside ul li	{ width:170px; height:30px; line-height:30px; border-bottom:solid 1px #f1f1f1; }
#aside ul li.last	{  }
#aside ul li a	{ display:block; }
#aside ul li.on a	{ color:#cc0000; background:url("../images/admin/aside/on.gif") no-repeat 98% 48%; }
#aside ul li.off	{}

#section	{ width:970px; float:left; }

#footer	{ width:100%; padding:15px 0; margin-top:40px; text-align:center; border-top:solid 1px #e6e6e6; float:left; }


#pagetitle	{ position:relative; margin-top:20px; }
#pagetitle h2	{ padding-bottom:5px; color:#990000; font-size:13px; font-weight:bold; border-bottom:solid 1px #dababa; }

#content h3	{ padding:0 0 5px 15px; margin-top:20px; color:#914747; font-weight:bold; letter-spacing:1px; border-bottom:solid 1px #eee4e4; background:url("../images/admin/section/h3.gif") no-repeat 0 3px; }


/**********************************************************************
@ form
**********************************************************************/
table td a.btn	{height:19px; padding-left:10px; font-family:verdana; font-size:11px; line-height:19px; background:url("../images/board/def/tdbtn_left.gif") no-repeat 0 0; display:inline-block; }
table td a.btn span	{ height:19px; padding-right:10px; background:url("../images/board/def/tdbtn_right.gif") no-repeat 100% 0; display:inline-block; }